
.game > img{
    max-width: 300px;
}

.game{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#games-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media (max-width: 900px) {
    #games-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 580px) {
    #games-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

